<div class = "jumbotron">
  <div class = "container">
    <div class = "row">
      <div class ="col-md-6 offset-md-3">
        <h3>Contact Us</h3>
        <form ngNativeValidate (ngSubmit)="onSubmit()" class = "outerForm">
        
          <input name="name" type="text" required id="name" [(ngModel)]="feedback.name" class="form-control mb-4" placeholder="Name">
          <input name="designation" type="text" required id="designation" class="form-control mb-4" [(ngModel)]="feedback.designation" placeholder="Designation">
          <input name="companyName" type="text" required id="companyName" [(ngModel)]="feedback.companyName" class="form-control mb-4" placeholder="Company Name">
          <input name="mobileNumber" type="text" pattern="^((\\+91-?)|0)?[0-9]{10}$" title="Please provide a valid mobile number eg. 08826281154" required id= "mobileNumber" [(ngModel)]="feedback.mobileNumber" class="form-control mb-4" placeholder="Phone Number">
          <input name="email" type="email" id="email" required [(ngModel)]="feedback.email" class="form-control mb-4" placeholder="E-mail">
          <div class="form-group">
            <textarea name="comment" class="form-control rounded-0" [(ngModel)] = "feedback.comment" id="Textarea" rows="3" placeholder="Comments"></textarea>
          </div>
        
          <!-- Send button -->
          <button mdbBtn color="info" block="true" type="submit">Send</button>
        
        </form>

      </div>
    </div>
  </div>

</div>





  